<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium">Make your funtion beautifull</small>
      <h3 class="font-light">
        <span class="text-info">Online Crackers </span>  helps you to
        <span class="text-info">build your function</span> with fun making it.
      </h3>
      <p>
        Diwali without a sparkler won't be fantastic. Not just Diwali, 
        it is used on the carnivals like Marriage, and New Year. 
        It brings your festival a sound feast
      </p>
      <p>
        At Online Crackers we sell products only which is of good quality and received acceptance by the customers. 
        Products listed in Online Crackers are carefully hand picked by team of experts who nourish offline business for decades.
      </p>
    </div>
  </div>
  <!-- Column -->
</div>
